<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h1>Sofka SpaceShips</h1>
                    </div>
                    <div class="card-body">

                    </div>
                    <div class="card-footer">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="firstname" placeholder="Firstname" 
                                class="form-control" autofocus>
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastname" placeholder="Lastname" 
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" placeholder="Email" 
                                class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Phone" 
                                class="form-control">
                            </div>
                            <button class="btn btn-primary btn-blog">
                                Add
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>